*, *::after, *::before {
    box-sizing: border-box;
}

html, body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.main-game-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.game-column {
    height: 100%;
    min-width: 600px;
    position: relative;
}

.game-title {
    text-align: center;
}

.main-selector {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    padding: 18px 6px;
    padding: 6px;
    margin: 6px 0;
    border-radius: 6px;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 30%;
}

.non-shown {
    visibility: hidden;
}

.main-selector-title {

}

.main-selector-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.game-select-button {
    border: none;
    border-radius: 6px;
    padding: 10px 14px;
    background-color: #ffffff;
    margin: 4px 0;
    font-size: 12pt;
    width: 60%;
    cursor: pointer;
    transition: 0.1s ease-out all;
}

.game-select-button:hover {
    opacity: 0.85;
}

.game-container {
    display: flex;
}

.current-team-text {
    width: 100%;
    text-align: center;
}

.game-controls-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 270px;
}

.game-controls-buttons-container {
    height: 32px;
    flex-shrink: 0;
    display: flex;
    margin-bottom: 4px;
}

.game-controls-button {
    width: 50%;
    height: 100%;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ffffff;
    transition: 0.2s ease all;
}

.game-controls-button:hover {
    z-index: 20;
}

.button-red {
    background-color: #cc3333;
    color: #ffffff;
}

.button-green {
    background-color: #0da920;
    color: #ffffff;
}

.button-neutral {
    background-color: #ffffff;
    color: #000000;
}

.button-red:hover {
    -webkit-box-shadow: 0px 0px 12px 0px #cc3333;
    -moz-box-shadow: 0px 0px 12px 0px #cc3333;
    box-shadow: 0px 0px 12px 0px #cc3333;
}

.button-green:hover {
    -webkit-box-shadow: 0px 0px 12px 0px #0da920;
    -moz-box-shadow: 0px 0px 12px 0px #0da920;
    box-shadow: 0px 0px 12px 0px #0da920;
}

.button-neutral:hover {
    -webkit-box-shadow: 0px 0px 12px 0px #d7d7d7;
    -moz-box-shadow: 0px 0px 12px 0px #d7d7d7;
    box-shadow: 0px 0px 12px 0px #d7d7d7;
}

.game-log-container {
    height: 100%;
    width: 100%;
}

.game-log {
    height: 100%;
    width: 100%;
    resize: none;
    border-radius: 6px;
    padding: 4px;
    outline: none;
}

/* game table */

.game-table-container {
    height: auto;
    position: relative;
    padding: 1em;
}

.game-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.table-black-turn {

}

.tabble-white-turn {

}

.table-row {
    width: 100%;
    height: auto;
    display: flex;
}

.table-row:nth-child(even) > .table-block:nth-child(even) {
    background-image: url('../assets/fieldB.png');
}

.table-row:nth-child(even) > .table-block:nth-child(odd) {
    background-image: url('../assets/fieldW.png');
}

.table-row:nth-child(odd) > .table-block:nth-child(odd) {
    background-image: url('../assets/fieldB.png');
}

.table-row:nth-child(odd) > .table-block:nth-child(even) {
    background-image: url('../assets/fieldW.png');
}

.table-block {
    display: inline-flex;
    height: 64px;
    width: 64px;
    padding: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: center;
    position: relative;
}

.table-block::before , .table-block::after {
    font-size: 14px;
    opacity: 0.6;
    color: #ffffff;
    position: absolute;
}

.table-block::before {
    content: attr(data-letter);
    right: 3px;
    top: 3px;
}

.table-block::after {
    content: attr(data-number);
    left: 3px;
    bottom: 3px;
}

.figure {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.2s ease all;
}

.figure-white {
    background-image: url('../assets/queenW.png');
}

.figure-black {
    background-image: url('../assets/queenB.png');
}

.figure-arrow {
    background-image: url('../assets/fire.png');
}

.block-highlight {
    box-shadow: inset 0px 0px 24px 0px #40ff45d1;
    -webkit-box-shadow: inset 0px 0px 24px 0px #40ff45d1;
    -moz-box-shadow: inset 0px 0px 24px 0px #40ff45d1;
}

.possible-way {
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background-color: #40ff45;
    border-radius: 50%;
    opacity: 0.5;
}

.table-black-turn .figure-black:hover, .tabble-white-turn .figure-white:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

/* endof game table */